Part 1

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results are shown in seconds for each machine. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other. 
Use a one sided t-test

In [1]:
from scipy import stats
import numpy as np
import pandas as pd 
import math

In [2]:
data = pd.read_csv('/Users/Lenovo/Desktop/machine.csv')

In [3]:
data.head()

   New machine  Old machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5

In [4]:
data.describe()

       New machine  Old machine
count    10.000000    10.000000
mean     42.140000    43.230000
std       0.683455     0.749889
min      41.000000    41.700000
25%      41.800000    42.800000
50%      42.200000    43.400000
75%      42.625000    43.750000
max      43.200000    44.100000

In [5]:
# Old_machine = np.array ([42.7, 43.6, 43.8, 43.3, 42.5, 43.5, 43.1, 41.7, 44, 44.1])

In [6]:
# New_machine = np.array ([42.1, 41, 41.3, 41.8, 42.4, 42.8, 43.2, 42.3, 41.8, 42.7])

In [7]:
# Old_machine.mean()

In [8]:
# New_machine.mean()

In [9]:
data.std()

New machine    0.683455
Old machine    0.749889
dtype: float64

In [10]:
meanold = data ['Old machine'].mean()

In [11]:
meannew = data ['New machine'].mean()

In [12]:
# 10 samples per each machine

obs = 20

# degrees of freedom 0 (n1+n2) - 2

# Define Hypothesis 

Ho new machine is no faster than old machine

Ha new machine is faster than old machine 

method: 1 tailed t test - referring to the t distirbution to find the cricital area 
do observations for New fall into the ciritical area AND is the p value less than 0,05

In [13]:
# degrees of freedom
dof = obs-2
sl = 0.95

In [14]:
dof

18

The PValue describes the probability of the data being in the critical area, Tstatistics describes how much the distribution of the data runs into the critical area

In [15]:
# looked up the t value - 1.734 (since we are doing left tailed test)

In [16]:
# define critical value 
t_critical=stats.t.ppf(sl, dof)
t_critical

1.7340636066175354

t statistic and p value test

In [17]:
# turn dataframe into 2 numpy arrays 

arrnew=data['New machine'].to_numpy()
arrnew

array([42.1, 41. , 41.3, 41.8, 42.4, 42.8, 43.2, 42.3, 41.8, 42.7])

In [18]:
arrold=data['Old machine'].to_numpy()
arrold

array([42.7, 43.6, 43.8, 43.3, 42.5, 43.5, 43.1, 41.7, 44. , 44.1])

In [19]:
# calc the t-statistic and p value 

statistic=stats.ttest_ind(arrnew, arrold, equal_var=False)
statistic

Ttest_indResult(statistic=-3.397230706117603, pvalue=0.0032422494663179747)

In [ ]:
# Result:

p value is less than 5% (0.05) and t statistic is lower than the critical value threshold

we can conclude that, even with 10 examples used, the new machine is faster than the old machine